$lightgrey: #EEEEF1;
$white: #FFFFFF;
$slategreylight: #2B3E59;
$slategrey: #1E2C44;
$darkslategrey: #101B30;
$violet: #565877;
$darkviolet: #25274B;
$highlightgrey: #6B788B;
$base-font-size: 16;
$background-grey: #343945;
$turquoise: #57C1D8;
$paper: $white;
$darkblue: #1E2C44;
$light-slate: #2B3E59;
$medium-slate: #1C293F;
$dark-slate: #101B30;
$bg: $background-grey;
$sidebar-primary: white;
$sidebar-secondary: $turquoise;
$sidebar-tertiary: black;
$highlight: $turquoise;
$sidebar-highlight: $light-slate;
$sidebar-bg: gold;
$darkblue: #222C3B;
$lightblue: #97A3B0;
$popoutcolor: $medium-slate;
$read-area-background: $dark-slate;
$read-area-color: $paper;